<template>
  <div id="app">
    <highcharts v-if="loaded" :options="chartOptions" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      loaded: false,
      chartOptions: {
        title: {
          text: 'Onboarding Flow performance'
        },

        yAxis: {
          ceiling: 100,
          title: {
            text: '% Of users'
          },
        },

        xAxis: {
          categories: [
            'Create Account',
            'Activate Account',
            'Profile information',
            'Job interests',
            'Job Experience',
            'Freelancer',
            'Approval',
            'Approved'
          ],
        },

        legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'middle'
        },

        series: [],
      }
    }
  },
  methods: {
    async getData() {
      return await fetch('http://localhost:8000/api/charts')
        .then(response => response.json())
        .then(data => {
          this.chartOptions = { ...this.chartOptions, series: data }
          this.loaded = true
        })
    },
  },
  mounted() {
    this.getData();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
